*.a
*.core
*.gz
*.in
*.la
*.lo
*.log
*.o
*.tmp
*.trs
*~
.deps/
.DS_Store
Makefile
tags

.*.s[a-v][a-z]
.*.sw[a-p]

/*.[ch]
/*-t
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.*
/configure
/conftest*
/depcomp
/docs/
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
